<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Online Store</title>
    <!-- User script -->
    <script>
      var user = '{{request.user}}'

      function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getToken('csrftoken');

    function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

    if(cart == undefined){
      cart = {}
      console.log('Cart was created!');
      document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/" 
    }

    console.log('Cookie: ',cart);

    </script>
    <!-- End user script -->
</head>
<body>
    <!-- Header Section -->
    <section id="header">
        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo" class="logo" /></a>
        <div>
          <!-- Unordered list with navigation bar and links  -->
          <ul id="navbar">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'shop' %}">Shop</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>

            <div class="cart-container">
              <li><a href="{% url 'cart' %}" id="lg-bag"><i class="far fa-shopping-bag cart-icon"></i></a>
                <p id="cart-total">{{cart_items}}</p>
            </div>

            </li>

            <a href="#" id="close"><i class="far fa-times"></i></a>
          </ul>
        </div>
      </section>
      <!-- end -->

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    <!-- Footer Section -->
    <footer class="section-p1">
        <!-- Logo and address div -->
        <div class="col">
          <img class="logo" src="{% static 'images/logo.png' %}" alt="logo" />
          <h4>Contact</h4>
          <p>
            <strong> Address: </strong>562 Wellington Road, Street 32, San
            Francisco
          </p>
          <p><strong> Phone: </strong> +01 2222 365 /(+91) 01 2345 6789</p>
          <p><strong> Hours: </strong> 10:00 - 18:00, Mon - Sat</p>
  
          <!-- Follow div -->
          <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-pinterest"></i>
              <i class="fab fa-youtube"></i>
            </div>
          </div>
          <!-- end -->
        </div>
        <!-- end -->
  
        <!-- About div -->
        <div class="col">
          <h4>About</h4>
          <a href="{% url 'about' %}">About us</a>
          <a href="#">Delivery Information</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
          <a href="{% url 'contact' %}">Contact Us</a>
        </div>
        <!-- end -->
  
        <!-- My Account div -->
        <div class="col">
          <h4>My Account</h4>
          <a href="#">Sign In</a>
          <a href="#">View Cart</a>
          <a href="#">My Wishlist</a>
          <a href="#">Track My Order</a>
          <a href="#">Help</a>
        </div>
        <!-- end -->
  
        <!-- Install App div -->
        <div class="col install">
          <h4>Install App</h4>
          <p>From App Store or Google Play</p>
          <div class="row">
            <img src="{% static 'images/pay/app.jpg' %}" alt="" />
            <img src="{% static 'images/pay/play.jpg' %}" alt="" />
          </div>
          <p>Secure Payment Gateways</p>
          <img src="{% static 'images/pay/pay.png' %}" alt="" />
        </div>
        <!-- end -->
  
        <!-- Copyright div -->
        <div class="copyright">
          <p>© 2023, Aleksandar Drakaliyski - Django Online Store</p>
        </div>
        <!-- end -->
      </footer>
      <!-- end -->

      <!-- Scripts -->
      <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/navbarActive.js' %}"></script>
</body>
</html>