{% extends 'store/base.html' %}
{% load static %}

{%  block content %}
<style>
    #page-header {
        background-image: url("{% static 'images/banner/banner.png' %}");
    }
</style>

<!-- Hero Section -->
<section id="page-header" class="about-header">
    <h2>#let's_talk</h2>
    <p>LEAVE A MESSAGE, We love to hear from you!</p>
</section>
  <!-- end -->

<!-- Cart Section -->
<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
              <td>Remove</td>
              <td>Image</td>
              <td>Product</td>
              <td>Price</td>
              <td>Quantity</td>
              <td>Subtotal</td>
            </tr>
          </thead>
        
          {% for item in items %}
            <tbody>
              <tr>
                  <td><a class="remove-btn" href="#"><i class="far fa-times-circle"></a></i></td>
                  <td><img src="{{ item.product.imageURL }}" alt=""></td>
                  <td>{{item.product.name}}</td>
                  <td>£{{item.product.price|floatformat:2}}</td>
                  
                  <div class="qty-btns">
                    <td>
                      <a href="#"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                      {{item.quantity}}
                      <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                    </td>
                  </div>
                  
                  <td>£{{item.get_total}}</td>
              </tr>
            </tbody>
        {% endfor %}
    </table>

    <section id="cart-add" class="section-p1">
        <div id="subtotal">
            <h3>Cart Totals</h3>
            <table>
              <tr>
                <td>Items</td>
                <td>{{order.get_cart_items}}</td>
              </tr>

              <tr>
                <td>Cart Subtotal</td>
                <td>£{{order.get_cart_total}}</td>
              </tr>

              <tr>
                <td>Shipping</td>
                <td>Free</td> 
              </tr>
    
              <tr>
                <td><strong>Total</strong></td>
                <td><strong>£{{order.get_cart_total}}</strong></td>
              </tr>
            </table>
    
            <button class="normal"><a href="{% url 'checkout' %}">Proceed to checkout</a></button>
          </div>
    </section>
</section>
<!-- End Cart Section -->
{% endblock %}