{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="checkout-container">
    <!-- Form container -->
    <div class="form-container">
        <form id="form"> {% csrf_token %}
            <div id="user-info">
                <div class="form-field">
                    <input required class="form-control" type="text" name="name" placeholder="Name...">
                </div>
                <div class="form-field">
                    <input required class="form-control" type="email" name="email" placeholder="Email...">
                </div>
                <hr>
            </div>
            
            <div id="shipping-info">
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="postcode" placeholder="Post code..">
                    </div>
            </div>
            <hr>
            <button id='submit-btn' class="normal" type="submit">Continue</button>
        </form>
    
        <br>
        <div class="hidden payment-container" id="payment-info">
            <hr>
            <p>Payment</p>
            <!-- <button id="make-payment" class="normal">Pay</button> -->
            <!-- <form method="POST">
                {% csrf_token %}
                <button type="submit" id="make-payment" class="normal"><a href="{% url 'checkout_session' %}">Pay</a></button>
            </form> -->
            <button id="make-payment" class="normal">Pay</button>
        </div>
    </div>
    <!-- End Form Container -->

    <!-- Order summary container -->
    <div class="summary-container">
        <button class="normal"><a href="{% url 'cart' %}">&#x2190; Back to Cart</a></button>
        <h3>Order Summary</h3>
        <div class="order-description">
            <div style="flex:2"></div>
            <div style="flex:2"><p><strong>Item</strong></p></div>
            <div style="flex:1"><strong><p>Price</p></strong></div>
            <div style="flex:1"><strong><p>Qty</p></strong></div>
        </div>

        {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img src="{{ item.product.imageURL }}"></div>
                <div style="flex:2"><p>{{ item.product.name }}</p></div>
                <div style="flex:1"><p>£{{ item.product.price|floatformat:2 }}</p></div>
                <div style="flex:1"><p>{{ item.quantity }}</p></div>
            </div>
        {% endfor %}
        <div id="total" class="total-container">
            {% if order.get_cart_items > 1 %}
                <h5>Items: {{ order.get_cart_items }}</h5>
            {% else %}
                <h5>Item: {{ order.get_cart_items }}</h5>
            {% endif %}
            <h5>Total: £{{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
    <!-- End Order summary container -->
</div>

<!-- Scripts -->
<script>
    var form = document.getElementById('form')
    var submitBtn = document.getElementById('submit-btn')
    var paymentInfo = document.getElementById('payment-info')
    var payBtn = document.getElementById('make-payment')
    var userInfo = document.getElementById('user-info')
    var total = '{{order.get_cart_total}}'
    
    csrftoken = form.getElementsByTagName('input')[0].value
    console.log('New Token: ', csrftoken);

    if (user != 'AnonymousUser' && userInfo != null ) {
        userInfo.innerHTML = ''
    }

    if (form != null) {
        form.addEventListener('submit', function(e){
            e.preventDefault()
            console.log('submited')
            submitBtn.classList.add('hidden')
            paymentInfo.classList.remove('hidden')
        })


        payBtn.addEventListener('click', function(){
            submitForm()
        })

        function submitForm(){
            
            var userForm = {
                'name':null,
                'email':null,
                'total':total,
            }
            
            var shippingInfo = {
                'address': null,
                'city': null,
                'postcode': null,
            }
            
            if (user == 'AnonymousUser'){
                userForm.name = form.name.value
                userForm.email = form.email.value
            }
            
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.postcode = form.postcode.value
            
            console.log('User Info: ', userForm);
            console.log('Shipping Info: ', shippingInfo);
            
            var url = '/process_order/'
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({'form': userForm, 'shipping': shippingInfo})
            })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success: ', data);

                document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/"
                window.location.href = "{% url 'checkout_session' %}"
                cart = {}                
            })
        }
    }
</script>
{% endblock %}