{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'js/features.js' %}"></script>
<style>
    #hero {
    background-image: url("{% static 'images/hero4.png' %}");
  }
  #hero button {
    background-image: url("{% static 'images/button.png' %}");
  }
</style>

<!-- Hero Section -->
<section id="hero">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons & up to 70% off!</p>
    <button>Shop Now</button>
  </section>
  <!-- end -->
<!-- Features -->
<section id="feature" class="section-p1"></section>
<!-- end -->

<!-- Featured Products -->
<section id="product1" class="section-p1">
  <h2>Featured Products</h2>
  <p>Summer Collection New Modern Design</p>
  <!-- Product Container -->
  <div class="pro-container">
    {% for product in products %}
      <div class="pro">
        <img src="{{ product.imageURL }}" alt="" />
        <div class="des">
          <span>{{product.brand}}</span>
          <h5>{{product.name}}</h5>
          <h4>£{{product.price|floatformat:2}}</h4>
        </div>
        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>
    {% endfor %}
  </div>
  <!-- End -->

</section>
<!-- End -->
{% endblock %}