{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<style>
    #hero {
    background-image: url("{% static 'images/hero5.jpg' %}");
  }
  #hero button {
    background-image: url("{% static 'images/button.png' %}");
  }
  #banner {
    background-image: url("{% static 'images/banner/b2.jpg' %}");
  }
</style>

<!-- Hero Section -->
<section id="hero">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons & up to 70% off!</p>
    <button><a href="{% url 'shop' %}">Shop Now</a></button>
  </section>
  <!-- end -->

<!-- Features -->
<section id="feature" class="section-p1"></section>
<!-- end -->

<!-- Featured Products -->
<section id="product1" class="section-p1">
  <h2>Featured Products</h2>
  <p>Summer Collection New Modern Design</p>
  <!-- Product Container -->
  <div class="pro-container">
    <!-- product -->
    {% for product in featured_products %}
      <div class="pro">
        <img src="{{ product.imageURL }}" alt="" />
        <div class="des">
          <span>{{product.brand}}</span>
          <h5>{{product.name}}</h5>
          <h4>£{{product.price|floatformat:2}}</h4>
        </div>
        <button data-product={{product.id}} data-action="add" class="update-cart"><i class="fal fa-shopping-cart cart"></i></button>
      </div>
    {% endfor %}
    <!-- end -->
  </div>
  <!-- End -->
</section>
<!-- End -->

<!-- Call to Action Banner Section -->
<section id="banner" class="section-m1">
  <h4>Shop more</h4>
  <h2>Great <span>Deals</span> - See our shop catalog</h2>
  <button class="normal" style="background-color: blue;"><a href="{% url 'shop' %}">Explore More</a></button>
</section>
<!-- end -->

<!-- TODO -->
<!-- New Arrivals Section -->
<section id="product1" class="section-p1">
  <h2>New Arrivals</h2>
      <p>Summer Collection New Modern Design</p>
      <div class="pro-container">
        <!-- product -->
        {% for product in new_products %}
          <div class="pro">
            <img src="{{ product.imageURL }}" alt="" />
            <div class="des">
              <span>{{product.brand}}</span>
              <h5>{{product.name}}</h5>
              <h4>£{{ product.price|floatformat:2 }}</h4>
            </div>
            <button data-product={{product.id}} data-action="add" class="update-cart"><i class="fal fa-shopping-cart cart"></i></button>
          </div>
        {% endfor %}
        <!-- product end -->
      </div>
</section>

<script src="{% static 'js/features.js' %}"></script>
<script src="{% static 'js/textBanners.js' %}"></script>

<script>
  console.log("Cart Items:");
    for (var productId in cart) {
          console.log(productId)
        }

        document.addEventListener("DOMContentLoaded", function() {
          const features = [
              {
                  id: 1,
                  image: "{% static 'images/features/f1.png' %}",
                  title: "Free Shipping",
              },
              {
                  id: 2,
                  image: "{% static 'images/features/f2.png' %}",
                  title: "Online Order",
              },
              {
                  id: 3,
                  image: "{% static 'images/features/f3.png' %}",
                  title: "Save Money",
              },
              {
                  id: 4,
                  image: "{% static 'images/features/f4.png' %}",
                  title: "Happy Sell",
              },
              {
                  id: 5,
                  image: "{% static 'images/features/f5.png' %}",
                  title: "F24/7 Support",
              },
              {
                  id: 6,
                  image: "{% static 'images/features/f6.png' %}",
                  title: "Free Shipping",
              },
          ]

          const featureSection = document.getElementById('feature');
          let featuresContent = '';

          features.forEach(feature => {
          const featureContent = `
              <div class="fe-box">
              <img src="${feature.image}" />
              <h6>${feature.title}</h6>
              </div>
          `;
          featuresContent += featureContent;
          });

          if (featureSection) {
          featureSection.innerHTML = featuresContent;
          }
      });
</script>
{% endblock %}