<!DOCTYPE html>
{% load static %}
<html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <title>Sign Up</title>
        </head>
        <body>
            <form method="POST" style="text-align: left; margin: 0 auto; width: 600px; margin-top: 220px;"> 
                {% csrf_token %}
                <!-- {{ form.as_p }} -->

                {{ form.username.label_tag }} {{ form.username }}
                {{ form.name.label_tag }} {{ form.name }}
                {{ form.email.label_tag }} {{ form.email }}
                {{ form.password1.label_tag }} {{ form.password1 }}
                {{ form.password2.label_tag }} {{ form.password2 }}
                <button type="submit" class="generic-btn">Sign Up</button>
                <a class="generic-btn" style="background-color: red;" href="{% url 'home' %}">Back</a>
            </form>
    </body>
</html>